.block-flat, .block-wizard {
margin-bottom: 40px;
padding: 20px 20px;
background: #FFF;
border-radius: 3px;
position: relative;
// -webkit-border-radius: 3px;
// border-left: 1px solid #efefef;
// border-right: 1px solid #efefef;
// border-bottom: 1px solid #e2e2e2;
// box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
// transition: padding 500ms;
// -moz-transition: padding 500ms;
// -webkit-transition: padding 500ms;
}

.block-flat .header {
background: transparent;
padding: 3px 0;
border-bottom: 1px solid #dadada;
}

 .block-flat .header h3 {
margin-top: 3px;
font-family: "Raleway", Helvetica, sans-serif;
font-weight: 200;
}

.block-flat .content {
padding: 15px 3px 0 3px;
}