.login-container .middle-login{
  width: 430px;
  left: 50%;

  position: absolute;
  margin-top: 5%;
  margin-left: -215px;
}
  

.login-container .block-flat .content {
  padding: 15px;
}

.login-container .block-flat
{
padding: 0;
border: 0;
overflow: hidden;
}

.login-container  .foot{
  padding: 5px 18px;
}