body {
padding: 0;
background-color: #F0F0F0;
font-family: 'Lato', Calibri, Arial, sans-serif;
font-size: 13px;
color: #555;
height: 100%;
}


#pcont {
  margin-left: 215px;
  position: relative;
}
#pcont.container-fluid {
  padding: 0;
}

.main-content {
background-color: #F0F0F0;
color: inherit;
font-size: 13px;
font-weight: 500;
line-height: 21px;
padding: 15px 30px 30px 30px;
margin-top: 0;
}